In [143]:
import pandas as pd
df = pd.read_csv("/content/200918COVID19MEXICO.csv", encoding = "ISO-8859-1")
df.head(10)

  FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  ...  PAIS_NACIONALIDAD  PAIS_ORIGEN  UCI
0          2020-09-18      11e6c9       2  ...            MÃ©xico           99   97
1          2020-09-18      0f6da0       1  ...            MÃ©xico           99   97
2          2020-09-18      172af6       2  ...            MÃ©xico           99    2
3          2020-09-18      03fa11       1  ...            MÃ©xico           99    2
4          2020-09-18      08c7aa       1  ...            MÃ©xico           99    2
5          2020-09-18      057c3b       1  ...            MÃ©xico           99    2
6          2020-09-18      00efef       2  ...            MÃ©xico           99   97
7          2020-09-18      1b912d       1  ...            MÃ©xico           99    2
8          2020-09-18      060b47       1  ...            MÃ©xico           99    2
9          2020-09-18      1a1721       2  ...            MÃ©xico           99   97

[10 rows x 35 columns]

In [144]:
df = df.rename(columns = {'FECHA_ACTUALIZACION': 'date', 
                                  'ID_REGISTRO':'id', 
                                  'ORIGEN': 'origin', 
                                  'SECTOR': 'sector', 
                                  'ENTIDAD_UM': 'care_unit_location',
                                  'SEXO': 'sex', 
                                  'ENTIDAD_NAC': 'birth_state', 
                                  'ENTIDAD_RES': 'residence', 
                                  'MUNICIPIO_RES': 'city',
                                  'TIPO_PACIENTE': 'patient_type', 
                                  'FECHA_INGRESO': 'entry_date', 
                                  'FECHA_SINTOMAS': 'date_begin_symptoms',
                                  'FECHA_DEF': 'date_death', 
                                  'INTUBADO': 'intubed', 
                                  'NEUMONIA': 'pneumonia', 
                                  'EDAD': 'age', 
                                  'NACIONALIDAD': 'nationality',
                                  'EMBARAZO': 'pregnancy', 
                                  'HABLA_LENGUA_INDIG': 'speaks_indig_language',
                                  'DIABETES': 'diabete',
                                  'EPOC': 'COPD', 
                                  "RESULTADO":"result",
                                  "OTRO_CASO":"cov_contact", 
                                  "TABAQUISMO":"tobacco", 
                                  "RENAL_CRONICA":"chronic_kindney", 
                                  "OBESIDAD":"obesity",
                                  "CARDIOVASCULAR":"cardiovascular", 
                                  "OTRA_COM":"other_diseases", 
                                  "HIPERTENSION":"hypertension",
                                  "INMUSUPR":"immunosuppression", 
                                  "ASMA":"asthma",
                                  "MIGRANTE":"migrante",
                                  "PAIS_NACIONALIDAD":"nationality",
                                  "PAIS_ORIGEN":"departure", 
                                  'UCI': 'ICU', })
df = df.drop(columns=['date','origin','sector','care_unit_location','birth_state','residence','city',
                              'patient_type','entry_date','date_begin_symptoms','nationality','speaks_indig_language',
                              'migrante','nationality','departure'])
df.columns
df.head(10)

       id  sex  date_death  intubed  ...  tobacco  cov_contact  result  ICU
0  11e6c9    2  9999-99-99       97  ...        2            1       1   97
1  0f6da0    2  9999-99-99       97  ...        2            1       1   97
2  172af6    1  9999-99-99        2  ...        2           99       1    2
3  03fa11    2  9999-99-99        2  ...        2           99       1    2
4  08c7aa    2  9999-99-99        2  ...        2            2       1    2
5  057c3b    1  9999-99-99        2  ...        2            2       1    2
6  00efef    1  9999-99-99       97  ...        2            2       1   97
7  1b912d    1  2020-05-06        2  ...        2           99       1    2
8  060b47    2  9999-99-99        2  ...        2            2       1    2
9  1a1721    2  9999-99-99       97  ...        2            1       1   97

[10 rows x 20 columns]

In [145]:
filtered = df.loc[(df['intubed'] < 97) & 
                  (df['pneumonia'] < 97) & 
                  (df['pregnancy'] < 97) &
                  (df['diabete'] < 97) & 
                  (df['COPD'] < 97) & 
                  (df['asthma'] < 97) &
                  (df['immunosuppression'] < 97) & 
                  (df['hypertension'] < 97) & 
                  (df['other_diseases'] < 97) & 
                  (df['cardiovascular'] < 97) &
                  (df['obesity'] < 97) &
                  (df['chronic_kindney'] < 97) &
                  (df['tobacco'] < 97) &
                  (df['cov_contact'] < 3) &
                  (df['result'] < 3) &
                  (df['ICU'] < 97)] 
filtered.loc[df.date_death == '9999-99-99', 'death'] = 1
filtered.loc[df.date_death != '9999-99-99', 'death'] = 2
filtered = filtered.drop(columns=['date_death'])
filtered["death"] = filtered["death"].astype(int)
# filtered.dtypes

filtered.reset_index(drop=True, inplace=True)

filtered.loc[:, (filtered.columns != 'age') & (filtered.columns != 'id')] = filtered.loc[:, (filtered.columns != 'age') & (filtered.columns != 'id')].apply(lambda col: col - 1)
filtered.head(10)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

       id  sex  intubed  pneumonia  ...  cov_contact  result  ICU  death
0  057c3b    0        1          0  ...            1       0    1      0
1  1d8145    0        1          0  ...            0       0    1      0
2  121f3b    0        1          1  ...            0       0    1      0
3  015855    0        1          0  ...            1       0    1      0
4  054d7d    0        1          1  ...            1       0    1      0
5  0fb996    0        1          0  ...            0       0    1      1
6  056a0b    0        1          0  ...            1       0    1      0
7  1a09a3    0        1          0  ...            1       0    1      0
8  138281    0        0          1  ...            0       0    1      0
9  0c42fd    0        1          0  ...            0       0    1      0

[10 rows x 20 columns]

In [152]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = filtered.loc[:, (filtered.columns != 'id') & (filtered.columns != 'result')]
y = filtered.loc[:, filtered.columns == 'result']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)
predictions = logisticRegr.predict(X_test)
score = logisticRegr.score(X_test, y_test)
print('Accuracy of logistic regression classifier on test set: {:.4f}'.format(score))
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))
import pickle

pickle.dump(logisticRegr, open("/content/preconditionLogReg.pkl", "wb"))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy of logistic regression classifier on test set: 0.6676
              precision    recall  f1-score   support

           0       0.68      0.86      0.76     13775
           1       0.63      0.38      0.47      8928

    accuracy                           0.67     22703
   macro avg       0.65      0.62      0.61     22703
weighted avg       0.66      0.67      0.65     22703

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [154]:
logisticRegr = pickle.load(open("/content/preconditionLogReg.pkl", "rb"))
score = logisticRegr.score(X_test, y_test)
print(score)

0.6676210192485574

In [ ]:
from sklearn import svm
import numpy as np
X = filtered.loc[:, (filtered.columns != 'id') & (filtered.columns != 'result')]
y = filtered.loc[:, filtered.columns == 'result']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

svm_model = svm.SVC()
svm_model.fit(X_train, np.ravel(y_train))

In [ ]:
predictions = svm_model.predict(X_test)
score = svm_model.score(X_test, y_test)
print('Accuracy of svm classifier on test set: {:.4f}'.format(score))
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

In [163]:
def precondition_risk(x):
  preconditionLogisticRegr = pickle.load(open("/content/preconditionLogReg.pkl", "rb"))
  return preconditionLogisticRegr.predict_proba([x])[0][1]
precondition_risk(X_test.loc[0,:])

0.32117126581378425